<ul>
  <li>Angular is a great framework</li>
  <li>React is another great framework</li>
  <li>Vue is also very popular</li>
  <li>✅ Global Service (SearchHighlightService) handles search logic.</li>
  <li>
    ✅ Highlights all occurrences of the searched word across multiple child
    components.
  </li>
  <li>✅Pressing Enter navigates to the next highlighted word.</li>
  <li>✅ Active word gets a different color (orange) for better visibility.</li>
  <li>
    ✅ Fully dynamic and works across tables, lists, paragraphs, and reusable
    components.
  </li>
  <li>✅ Clear button removes all highlights instantly.</li>
</ul>
