<div class="container mt-3">
  <header id="header">
    <div class="row">
      <div class="col-md-6">Patient Name : <strong>Mr. Aditya Jha</strong></div>
      <div class="col-md-6">Chart Date : <strong>13-Feb-2025</strong></div>
      <div class="col-md-6">Bed No. : <strong>- GW 605</strong></div>
      <div class="col-md-6">Episode No : <strong>2403247200401</strong></div>
      <div class="col-md-6">
        Treating Doctor : <strong>Mit Vikaskumar Patel</strong>
      </div>
      <div class="col-md-6">Episode Date : <strong>28-Mar-2024</strong></div>
      <div class="col-md-12 text-center border-top border-bottom p-2 my-3">
        <strong>NURSHING CHART</strong>
      </div>
    </div>
  </header>

  <table id="table" class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John Doe</td>
        <td>30</td>
        <td>john.doeexample.com</td>
      </tr>
      <tr>
        <td>Jane Smith</td>
        <td>25</td>
        <td>jane.smithexample.com</td>
      </tr>
    </tbody>
  </table>

  <footer id="footer">
    <div class="row border-top py-2">
      <div class="col-md-4 font-md">Printed By: KEM HOSPITAL</div>
      <div class="col-md-4 font-md text-center">
        13-February-2025 / 10:09 AM
      </div>
      <div class="col-md-4 text-end"></div>
    </div>
  </footer>
</div>

<button (click)="generatePDF()">Generate PDF</button>
