<nav class="navbar">
  <div>
    <h5>CWB</h5>
  </div>
  <div>
    <div class="btn-group">
      <button routerLink="/screen-recording">Screen Recording</button>
      <button routerLink="/annotation-tools">Image Capture</button>
      <button routerLink="/img-capture">Capture</button>
      <button routerLink="/capture-simple">Capture Simple</button>
      <button routerLink="/file-upload">File-Upload</button>
      <button routerLink="/base64-compress">Base64 Compress</button>
      <button routerLink="/dynamic-formarray">Dynamic Formarray</button>
      <button routerLink="/img-to-PDF">Img-to-PDF</button>
      <button routerLink="/content-to-PDF">Content-to-PDF</button>
      <button routerLink="/html-to-svg">html-to-svg</button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
