<div class="container">
  <h2 class="mb-4">Custom Waveform Player</h2>
</div>

<app-waveform-player
  title="Good Day (Wake Up)"
  audioUrl="audio/sample-audio.mp3">
</app-waveform-player>
<br />
<br />
<app-waveform-player
  [audioUrl]="'audio/sample-audio.mp3'"></app-waveform-player>
<br />
<br />
<app-waveform-player
  [audioUrl]="
    'audio/barking-large-and-small-dog-290711.mp3'
  "></app-waveform-player>
<br />
<br />
<app-waveform-player
  [audioUrl]="'audio/small-applause-6695.mp3'"></app-waveform-player>
<br />
<br />
<app-waveform-player
  [audioUrl]="'audio/small-bowl-35530.mp3'"></app-waveform-player>
<br />
<br />
<app-waveform-player
  [audioUrl]="'audio/small-monster-attack-195712.mp3'"></app-waveform-player>
<br />
<br />
