<!-------- Example 1 (Creating a Dynamic Component) --------->
<button (click)="createComponent1()">Create Component</button>
<button (click)="destroyComponent1()">Destroy Component</button>
<div #container1></div>
<br /><br /><br /><br />

<!-------- Example 2 (Pass Data While Creating Component) --------->
<button (click)="createComponent2()">Show Message</button>
<div #container2></div>
<br /><br /><br /><br />

<!-------- Example 3 (Modify Dynamic Component to Accept Unique Data) --------->

<!-------- HTML --------->
<button (click)="addComponent()">Add Component</button>
<div #container3></div>
